@using Vidly.Models
@using Vidly.ViewModels
@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Index";
    
}

<h2>Movies</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr><td>Movie</td></tr>
    </thead>
    <tbody>
        @foreach (Movie movie in Model.Movies)
        {
            <tr><td><a href="/Movies/Details/@movie.Id">@movie.Name</a></td></tr>
        }

    </tbody>
</table>
